<%= link_to "Back to books", books_path %>

<h2>Delete Book</h2>

<h4>Are you sure you want to delete this book?</h4>
<%= button_to "Yes", @book, method: :delete %>
<%= link_to 'No', book_path(@book) %>